<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/nav.ejs') %>

    <main class="max-w-6xl mx-auto min-h-[calc(100svh-3.5rem)] py-4">
      <h1 class="text-xl font-semibold mb-5">Checkout Page</h1>
    </main>
  </body>
</html>
