body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  padding: 0 1rem;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  background-color: black;
}

.main-header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}

.main-header__nav h4 {
  color: white;
}

.main-header__item-list {
  display: flex;
  list-style-type: none;
}

.main-header__item {
  text-decoration: none;
  margin: 0 0.65rem;
}

.main-header__item a {
  color: white;
  text-decoration: none;
}
