<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs') %>
  <body>
    <%- include('includes/nav.ejs') %>

    <main
      class="max-w-5xl mx-auto min-h-[calc(100svh-3.5rem)] flex items-center justify-center"
    >
      <div class="flex flex-col items-center">
        <h2 class="text-5xl font-black">404</h2>
        <p class="text-xl mb-2">Page not found</p>
        <a href="/" class="text-blue-600 underline underline-offset-4"
          >Go Home</a
        >
      </div>
    </main>
  </body>
</html>
