<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Postrr</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <h4>Postrr</h4>
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Home</a></li>
          <li class="main-header__item">
            <a href="/admin/add-post">Add Post</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>My Posts</h2>
      <ul>
        <li>Post 1</li>
        <li>Post 2</li>
        <li>Post 3</li>
        <li>Post 4</li>
        <li>Post 5</li>
        <li>Post 6</li>
      </ul>
    </main>
  </body>
</html>
